# Ignore Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore logs
logs/
*.log
*.log.*

# Ignore environment variables
.env

# Ignore Vite build folder
/frontend/dist/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE/editor settings
.idea/
.vscode/
*.swp

# Ignore build artifacts
/build/
